{% load static %}

<div class="">
  <h1>Batch : {{batch}}</h1>
  <div class="ui top attached tabular menu">
    {% for i in sem_list %}
        {% if forloop.counter == 1 %}
        <div class="active item" data={{ forloop.counter }}>
        {% else %}
        <div class="item" data={{ forloop.counter }}>
        {% endif %}
            Sem{{ forloop.counter }}
        </div>
    {% endfor %}
  </div>
  {% for sem in sem_list %}
    {% if forloop.counter == 1 %}
    <table class="ui celled structured table" id={{forloop.counter}}>
    {% else %}
    <table class="ui celled structured table" id={{forloop.counter}} hidden="true">
    {% endif %}
      <thead>
        <tr>
          <th>
            S.No.
          </th>
          <th>
            Course Name
          </th>
          <th>
            Course Type
          </th>
          <th>
            Course Credits
          </th>
          <th>
            Course Lectures
          </th>
          <th>
            Course Tutorials
          </th>
          <th>
            Course Practicals
          </th>
          <th>
            Course Discussions
          </th>
        </tr>
      </thead>
      <tbody>
          <tr></tr>
          {% if sem %}
            {% for course in sem %}
              <tr>
                <td>
                  <b>{{ forloop.counter }}</b>
                </td>
                <td>
                  <b>{{course.curr_course.course_name}}</b>
                </td>
                <td>
                  <b>{{course.course_type}}</b>
                </td>
                <td>
                  <b>{{course.course_credits}}</b>
                </td>
                <td>
                  <b>{{course.course_lecture}}</b>
                </td>
                <td>
                  <b>{{course.course_tutorial}}</b>
                </td>
                <td>
                  <b>{{course.course_practical}}</b>
                </td>
                <td>
                  <b>{{course.course_discussion}}</b>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td rowspan=1>
                <b>{{ forloop.counter }}<b>
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
              <td>
                -
              </td>
            </tr>
          {% endif %}
      </tbody>
    {% endfor %}
  </table>
  <script>
    $('.item').click(function(){
      var i;
      i = $(this).attr('data');
      $('.item').removeClass('active');
      $(this).addClass('active');
      $('.table').hide();
      $('#'+i).show();
    });
  </script>
</div>